---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Roshambo Challenge Leaderboard">
  <main class="text-center">
    <h1 class="text-5xl font-bold">
      Leaderboard
    </h1>
    <div class="borded rounded-xl bg-base-300 w-1/2 h-96 my-12 mx-auto">
      <figure>
        <p>abcdfefe</p>
      <figure/>
    </div>
  </main>
</Layout>
