---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="About CS Hub">
  <main class="m-auto w-[800px] p-4 text-xl text-white">
    <Navbar />
    <h1 class="title-gradient my-6 text-center text-6xl font-bold">
      About CS Hub
    </h1>
    <p>
      The CS Club is a welcoming community that increases access to
      programming-reliant careers.
    </p>
    <p>
      We make open-source CS projects together, with gentle onboarding for
      beginners to professional-standard workflow. We are building a digital
      library of resources of self-learning guides, college opportunities, and
      career navigation. We connect students to experienced coders through tech
      events, invited speakers, an online communication space, and most
      importantly, having fun!
    </p>
  </main>
</Layout>

<style>
  main {
    max-width: calc(100% - 2rem);
  }

  .title-gradient {
    background: linear-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
