---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import GoldCard from "../components/GoldCard.astro";

const start = Date.now();

function getNextDay(dayOfWeek) {
  var resultDate = new Date(Date.now());
  resultDate.setDate(
    resultDate.getDate() + ((7 + dayOfWeek - resultDate.getDay()) % 7),
  );
  const dateTimeFormat = new Intl.DateTimeFormat("en-US", {
    weekday: "long",
    month: "long",
    day: "numeric",
  });
  return dateTimeFormat.format(resultDate);
}

const nextMeetUpDate = getNextDay(5);
---

<Layout title="CS Club">
  <main>
    <h1 class="mt-12 text-[#23262d] dark:text-white">
      Welcome to <span class="text-gradient">CS&nbsp;Club</span>
    </h1>
    <ul role="list" class="mb-8">
      <GoldCard
        href="/events/headline"
        title=`Next General Meeting - ${nextMeetUpDate}`
        body="Come join us at our general meeting, and hang out!"
      />
    </ul>
    <ul role="list" class="link-card-grid">
      <Card
        href="events"
        title="Events"
        body="Join us for meetups, networking, workshops, and more"
      />
      <Card
        href="projects"
        title="Projects"
        body="Tour our club members' projects"
      />
      <Card
        href="https://discord.gg/nrsPNfwBMY"
        title="Discord"
        body="Come say hi to our amazing Discord community"
      />
      <Card href="about" title="About" body="Learn more about CS Club" />
    </ul>
  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
