---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="CS Hub">
	<main>
		<h1>Welcome to <span class="text-gradient">CS Hub</span></h1>
		<ul role="list" class="link-card-grid">
			<Card
				href="/learn/"
				title="Learn"
				body="Explore our CS interest groups"
			/>
			<Card
				href="/events/"
				title="Events"
				body="Join us for meetups, networking, workshops, and more"
			/>
			<Card
				href="/projects/"
				title="Projects"
				body="Tour our club members' projects"
			/>
			<Card
				href="https://discord.gg/nrsPNfwBMY"
				title="Discord"
				body="Come say hi to our amazing Discord community"
			/>
			<Card
				href="/wiki/"
				title="Wiki"
				body="Check out our useful computer science wiki"
			/>
			<Card
				href="/about/"
				title="About"
				body="Learn more about CS Hub"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
