---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hear from CS Club!">
  <main>
    <h1 class="my-1 text-center text-4xl font-bold underline">
      <a href="/"> Unity Day 2024</a>
    </h1>
    <h2 class="my-2 text-center text-xl font-light italic">
      Sign up to learn more about CS Club!
    </h2>
    <form
      class="my-4 rounded bg-white px-8 pb-8 pt-6 shadow-md"
      action="https://docs.google.com/forms/d/e/1FAIpQLSfPYtqgOnb8NVG4i9BbTcJJJLZFhryloHMhapkyDZlhjDR3Xw/formResponse"
      method="POST"
      target="_blank"
    >
      <div class="mb-4">
        <label class="mb-2 block text-sm font-bold text-gray-700"
          >Your name (Required)</label
        >
        <input
          class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
          name="entry.2010315656"
          required
          type="text"
          placeholder="Rocky Ram"
        />
      </div>
      <div class="mb-4">
        <label class="mb-2 block text-sm font-bold text-gray-700"
          >E-Mail (Optional)</label
        >
        <input
          class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
          name="entry.432202038"
          type="text"
          placeholder="rram123@mail.ccsf.edu"
        />
      </div>
      <div class="mb-4">
        <label class="mb-2 block text-sm font-bold text-gray-700"
          >Number (Optional)</label
        >
        <input
          class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
          name="entry.1146887950"
          type="text"
          placeholder="4151111111"
        />
      </div>
      <div class="mb-6">
        <label class="mb-2 block text-sm font-bold text-gray-700"
          >Preferred Contact Method</label
        >
        <select
          class="focus:shadow-outline w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none"
          name="entry.1724802709"
        >
          <option value="Email">E-Mail</option>
          <option value="SMS">Phone/SMS</option>
          <option value="Discord">Discord</option>
        </select>
      </div>
      <div class="flex h-12">
        <input
          class="focus:shadow-outline mr-3 h-full w-2/3 rounded bg-blue-500 px-4 font-bold text-white hover:bg-blue-700 focus:outline-none"
          type="submit"
          value="Join"
        />
        <a
          class="focus:shadow-outline flex h-full w-1/3 items-center justify-center rounded bg-yellow-500 px-4 font-bold text-white hover:bg-yellow-700 focus:outline-none"
          href="/subscribe"
        >
          Reset
        </a>
      </div>
    </form>
  </main>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }
  </style>
</Layout>
