---
import { Image } from 'astro:assets';
import biboImage from '~/assets/bibo.png'
---
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">

<div class="hero bg-base-200 min-h-screen">
  <div class="circle-container flex flex-col">
    <div class="grid">
      <div class="col-start-1 row-start-1 m-auto">
        <h3 id="spiral-text"
          class="text-[1.75rem]"
        >Workshops • Collaboration • Events • Skill Building • Hackathons •</h3>
      </div>
      <div class="col-start-1 row-start-1 m-auto">
        <Image 
          id="bibo-mascot"
          src={biboImage} 
          class="w-1/2 m-auto max-w-md"
          alt="Our Club's Avatar - Bibo" 
        />
      </div>
    </div>
    <h2 class="text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl 2xl:text-[10rem]">Computer Science Club</h2>
</div>

<script is:inline src="/circletype.min.js"></script>
<script is:inline>
  new CircleType(document.getElementById('spiral-text'))
</script>

<style>
  h2{
    font-family: "UnifrakturMaguntia", serif;
    color: rgb(255,252,242);
    line-height: 1; /* Adjusts line spacing */
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.3rem;
    white-space: nowrap;
  }

  h3{
    font-family: "Maven Pro", sans-serif;
    color: rgb(255,252,242);
    padding: 0;
    animation: textRotation 24s linear infinite;
  }

  @keyframes textRotation {
    to {
      transform: rotate(360deg);
    }
  }

</style>