<div class="navbar">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl">CS&nbsp;Club</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About</a></li>
      <li>
        <details>
          <summary> Events </summary>
          <ul class="rounded-t-none bg-[#f9fbf3] dark:bg-[#13151a] p-2">
            <li><a href="/events/headline">Featured</a></li>
            <li><a href="/events">Calendar</a></li>
            <li><a href="/subscribe">Subscribe</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
