---
import Layout from "../../layouts/Layout.astro";
import Meme from "../../components/Meme.astro";
import Navbar from "../../components/Navbar.astro";
import GoldCard from "../../components/GoldCard.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Projects">
  <main>
    <h1 class="title-gradient my-6 text-center text-6xl font-bold">Projects</h1>
    <div class="m-auto w-4/5">
      <Card
        href="/projects/daisy_ui"
        title="Daisy UI"
        body="Trying out Daisy UI"
      />
    </div>
    <br />
    <div class="m-auto w-4/5">
      <Card
        href="/projects/rainbow_walk"
        title="Rainbow Walk"
        body="See a simulation of a photon's path out of a sun"
      />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
