---
import Layout from "../../layouts/Layout.astro";
// Removed unused component imports
import Card from "../../components/Card.astro";
---

<Layout title="Projects">
  <main>
    <h1 class="title-gradient my-6 text-center text-6xl font-bold">Projects</h1>
        <div class="m-auto w-4/5">
      <Card
        href="https://startup-evaluator.reflex.run/"
        title="Startup Evaluator"
        body="Check out our SCC Hacks winning project!"
      />
    </div>
    <br />
    <div class="m-auto w-4/5">
      <Card
        href="https://vena-the-wackadoodle.itch.io/bug-game"
        title="Bug Game"
        body="Check out our club's summer gamejam project!"
      />
    </div>
    <br />
    <div class="m-auto w-4/5">
      <Card
        href="/projects/whos_that_pokemon"
        title="Who's That Pokemon?"
        body="Using HTMX + Astro"
      />
    </div>
    <br />
    <div class="m-auto w-4/5">
      <Card
        href="/projects/api_playground"
        title="API Playground"
        body="Play around with API's"
      />
    </div>
    <br />
    <div class="m-auto w-4/5">
      <Card
        href="/projects/daisy_ui"
        title="Daisy UI"
        body="Trying out Daisy UI"
      />
    </div>
    <br />
    <div class="m-auto w-4/5">
      <Card
        href="/projects/rainbow_walk"
        title="Rainbow Walk"
        body="See a simulation of a photon's path out of a sun"
      />
    </div>
    <br />
    <div class="m-auto w-4/5">
      <Card
        href="/projects/pokemon_bio"
        title="Pokemon Bio"
        body="Us, but as pokemons"
      />
    </div>
    <br />
    <div class="m-auto w-4/5">
      <Card
        href="/register"
        title="CS Club Registration"
        body="Join the CCSF Computer Science Club - Powered by Neon PostgreSQL"
      />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
