---
import Layout from "../../layouts/Layout.astro";
import PokemonCard from "../../components/PokemonCard.astro";
---

<!-- 
Finish designing card and wanted stats 
Maybe add description
Special abitlities?
-->

<Layout title="Pokemon Bio"></Layout>
<h1>Club Pokemon Bio Site under Construction</h1>
<main>
    <ul>
        <li>
            <PokemonCard 
                name="UR_IGN_HERE"
                number="1"
                href="https://archives.bulbagarden.net/media/upload/thumb/3/3f/0143Snorlax.png/500px-0143Snorlax.png"
                pokemonName="Snorlax"
                type="Despresso"
                description="so yesterday i went to get some ramen and for some reason all these ramen noods turned into snakes and starting slithering out of my mouth and my bowl. Woke uop and realized it was a dream."
                stat1_name="Doom Scroll"
                stat2_name="Sleepy"
                stat3_name="Hungry"
                stat4_name="Speed"
                stat1="252"
                stat2="192"
                stat3="54"
                stat4="1">  
            </PokemonCard>
        </li>
        <li>
            <PokemonCard 
                name="UR_IGN_HERE"
                number="2"
                href="https://archives.bulbagarden.net/media/upload/thumb/d/d0/0144Articuno.png/500px-0144Articuno.png"
                pokemonName="Snorlax"
                type="Despresso"
                description="ur bio here"

                stat1_name="HP"
                stat2_name="Cold"
                stat3_name="Depresso"
                stat4_name="Speed"
                stat1="1000"
                stat2="9000"
                stat3="4520"
                stat4="231">  
            </PokemonCard>
        </li>
        <li>
            <PokemonCard 
                name="UR_IGN_HERE"
                number="3"
                href="https://archives.bulbagarden.net/media/upload/thumb/c/c6/0145Zapdos.png/500px-0145Zapdos.png"
                pokemonName="Snorlax"
                type="Despresso"
                description="Testing flipping the card for bio"

                stat1_name="HP"
                stat2_name="Sleepy"
                stat3_name="Hungry"
                stat4_name="Speed"
                stat1="789"
                stat2="232"
                stat3="2134"
                stat4="91192">  
            </PokemonCard>
        </li>
        <li>
            <PokemonCard 
                name="UR_IGN_HERE"
                number="1"
                href="https://archives.bulbagarden.net/media/upload/thumb/2/21/0146Moltres.png/500px-0146Moltres.png"
                pokemonName="Snorlax"
                type="Despresso"
                description="Testing flipping the card for bio"

                stat1_name="HP"
                stat2_name="Sleepy"
                stat3_name="Hungry"
                stat4_name="Speed"
                stat1="512"
                stat2="9000"
                stat3="2134"
                stat4="1">  
            </PokemonCard>
        </li>
        <li>
            <PokemonCard 
                name="UR_IGN_HERE"
                number="1"
                href="https://archives.bulbagarden.net/media/upload/thumb/1/1c/0149Dragonite.png/500px-0149Dragonite.png"
                pokemonName="Snorlax"
                type="Despresso"
                description="ur bio here"

                stat1_name="HP"
                stat2_name="Destruction"
                stat3_name="Sad"
                stat4_name="Speed"
                stat1="992"
                stat2="9002"
                stat3="1766"
                stat4="8011">  
            </PokemonCard>
        </li>
        <li>
            <PokemonCard 
                name="UR_IGN_HERE"
                number="1"
                href="https://archives.bulbagarden.net/media/upload/thumb/8/89/0150Mewtwo.png/500px-0150Mewtwo.png"
                pokemonName="Snorlax"
                type="Despresso"
                description="ur bio here"

                stat1_name="HP"
                stat2_name="Sleepy"
                stat3_name="Hungry"
                stat4_name="Speed"
                stat1="512"
                stat2="9000"
                stat3="2134"
                stat4="1">  
            </PokemonCard>
        </li>
        <!-- <li>
            <PokemonCard 
                name="UR_IGN_HERE"
                number="1"
                href="https://archives.bulbagarden.net/media/upload/thumb/3/3f/0143Snorlax.png/500px-0143Snorlax.png"
                pokemonName="Snorlax"
                type="Despresso"
                description="ur bio here"

                stat1_name="HP"
                stat2_name="Sleepy"
                stat3_name="Hungry"
                stat4_name="Speed"
                stat1="512"
                stat2="9000"
                stat3="2134"
                stat4="1">  
            </PokemonCard>
        </li>
        <li>
            <PokemonCard 
                name="UR_IGN_HERE"
                number="1"
                href="https://archives.bulbagarden.net/media/upload/thumb/3/3f/0143Snorlax.png/500px-0143Snorlax.png"
                pokemonName="Snorlax"
                type="Despresso"
                description="ur bio here"

                stat1_name="HP"
                stat2_name="Sleepy"
                stat3_name="Hungry"
                stat4_name="Speed"
                stat1="512"
                stat2="9000"
                stat3="2134"
                stat4="1">  
            </PokemonCard>
        </li>
        <li>
            <PokemonCard 
                name="UR_IGN_HERE"
                number="1"
                href="https://archives.bulbagarden.net/media/upload/thumb/3/3f/0143Snorlax.png/500px-0143Snorlax.png"
                pokemonName="Snorlax"
                type="Despresso"
                description="ur bio here"

                stat1_name="HP"
                stat2_name="Sleepy"
                stat3_name="Hungry"
                stat4_name="Speed"
                stat1="512"
                stat2="9000"
                stat3="2134"
                stat4="1">  
            </PokemonCard>
        </li>
        <li>
            <PokemonCard 
                name="UR_IGN_HERE"
                number="1"
                href="https://archives.bulbagarden.net/media/upload/thumb/3/3f/0143Snorlax.png/500px-0143Snorlax.png"
                pokemonName="Snorlax"
                type="Despresso"
                description="ur bio here"

                stat1_name="HP"
                stat2_name="Sleepy"
                stat3_name="Hungry"
                stat4_name="Speed"
                stat1="512"
                stat2="9000"
                stat3="2134"
                stat4="1">  
            </PokemonCard>
        </li> -->
    </ul>    
</main>


<style>
    * {
        box-sizing: border-box;

    }

    h1 {
        text-align: center;
        font-size: 24px;
    }
    main {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        width: 1200px;
        max-width: calc(100% - 2rem);
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;

    }

    li {
        border-radius: 10px;
    }

    li:hover {
        box-shadow: 2px 3px 3px rgb(191, 191, 174);
        transition: 0.7s;
    }
</style>


