---
import Layout from "../../layouts/Layout.astro";
import NavbarDaisy from "../../components/NavbarDaisy.astro";
---

<Layout title="RamBytes">
  <main>
    <NavbarDaisy />
    <div class="h-full w-screen">
      <embed
        height="535"
        width="100%"
        src="/2024_03_13_Tech_Panel_Flyer.pdf"
      />
    </div>
  </main>
  <p class="p-4">Come listen to a speaker panel of seasoned tech veterans!</p>
</Layout>
