---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="CS Club Events">
  <main>
    <div class="flex h-screen flex-col items-center justify-center py-4">
    <p class="text-center text-3xl">General Meeting on Fridays!</p>
    <br>
      <div class="max-h-screen-lg h-full w-full max-w-screen-lg">
        <embed
          class="h-full w-full"
          src="https://drive.google.com/file/d/1BeVloOtOh7ZKtSX9gzbxucVGsqH_cr5N/preview"
          width="100%"
          height="600px"
        />
      </div>
      <p class="p-8 text-xl text-center">
        Come socialize and help plan our next slate of activities!
      </p>
    </div>
  </main>
</Layout>
