---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Industry Speaker Event">
  <main>
    <div class="flex flex-col h-screen items-center justify-center py-4">
      <div class="w-full h-full max-w-screen-lg max-h-screen-lg">
        <embed
          src="/2024_03_13_Tech_Panel_Flyer.pdf"
          class="h-full w-full"
        >
        </object>
      </div>
      <p class="p-8 text-center">
        Come listen to a speaker panel of seasoned tech veterans!
      </p>
    </div>
  </main>
</Layout>
