---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Industry Speaker Event">
  <main>
    <div class="flex h-screen flex-col items-center justify-center py-4">
      <div class="max-h-screen-lg h-full w-full max-w-screen-lg">
        <embed
          class="h-full w-full"
          src="https://drive.google.com/file/d/1mkgyc1EoFvDk3Z2QZr1NN5AHlLc3VRz_/preview?usp=sharing"
          width="100%"
          height="600px"
        />
      </div>
      <p class="p-8 text-center">
        Come listen to a speaker panel of seasoned tech veterans!
      </p>
    </div>
  </main>
</Layout>
